[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
stim = "*"
sinter = "*"
pymatching = "*"
matplotlib = "*"
qutip = "*"
ipykernel = "*"
qiskit = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.11"
